body {
  width: 100%;
}

.container {
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

* {
  border: 2px dashed red !important;
}

.header {
  width: 100%;
  border-bottom: 2px solid  #7d97ad;
  margin:0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  width: 10%;
  padding: 1em;
}

.logo > img {
  width: 50px;
  align-self: center;
}

.name {
  width: 70%;
  margin-right: 1em;
}


h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase;
  font-family: "Raleway";
  text-align: right;
}

h3 {
  text-transform: uppercase;
  font-family: "Raleway";
  text-align: right;
}

.cover {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cover > img {
  align-self: center;
  max-width: 100%;
  margin: auto;
}

.portfolio {
  font-family: "Roboto";
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.featured-projects {
  width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 30%;
}

.image {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

p {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
  font-style: italic;

}

@media screen and (max-width: 450px) {
  .featured-projects {
    text-align: center;
  }

  .project {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .portfolio img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-width: 451px) and (max-width: 690px) {
  .project {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .portfolio img {
    align-items: center;
    margin: auto;
  }

  .featured-projects {
    text-align: center;
  }
}

@media screen and (min-width: 691px) and (max-width: 768px) {
  .featured-projects {
    text-align: center;
  }

  .project {
    width: 45%;
    margin: 10px;
    align-items: center;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .portfolio img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: auto;
  }
}
